<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Para más perritos dale Refresh!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perritos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <br>
    <ion-grid>
      <ion-row>
        <ion-col>
          <app-mascotas-widget></app-mascotas-widget>
        </ion-col>
        <ion-col>
          <app-mascotas-widget></app-mascotas-widget>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-mascotas-widget></app-mascotas-widget>
        </ion-col>
      </ion-row>
    </ion-grid>
</div>  
</ion-content>
